@page
@model RecursosHumanos.Pages.CAsistencia.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Asistencia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asistencia.Cedula_e)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asistencia.Cedula_e)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asistencia.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asistencia.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asistencia.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asistencia.Estado)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Asistencia.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
