@page
@model RecursosHumanos.Pages.CAsistencia.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asistencia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asistencia.Cedula_e)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asistencia.Cedula_e)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asistencia.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asistencia.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asistencia.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asistencia.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
