@page
@model RecursosHumanos.Pages.CDocumentos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Documentos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (@Model.Rol == "3" || @Model.Rol == "4")
        {
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Documentos.Cedula_E" class="control-label"></label>
                <input asp-for="Documentos.Cedula_E" class="form-control" />
                <span asp-validation-for="Documentos.Cedula_E" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documentos.Cedula_img" class="control-label"></label>
                <input asp-for="Documentos.Cedula_img" type="file" class="form-control" />
                <span asp-validation-for="Documentos.Cedula_img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documentos.Contrato" class="control-label"></label>
                <input asp-for="Documentos.Contrato" type="file" class="form-control" />
                <span asp-validation-for="Documentos.Contrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documentos.Otro" class="control-label"></label>
                <input asp-for="Documentos.Otro" type="file" class="form-control" />
                <span asp-validation-for="Documentos.Otro" class="text-danger"></span>
            </div>
            @if (TempData["Mensaje"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Mensaje"]
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        }
        @if (@Model.Rol == "1" || @Model.Rol == "2")
        {
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Documentos.Cedula_E" class="control-label"></label>
                    <input asp-for="Documentos.Cedula_E" class="form-control" value="@Model.Cedula" readonly />
                    <span asp-validation-for="Documentos.Cedula_E" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Documentos.Cedula_img" class="control-label"></label>
                    <input asp-for="Documentos.Cedula_img" type="file" class="form-control" />
                    <span asp-validation-for="Documentos.Cedula_img" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Documentos.Contrato" class="control-label"></label>
                    <input asp-for="Documentos.Contrato" type="file" class="form-control" />
                    <span asp-validation-for="Documentos.Contrato" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Documentos.Otro" class="control-label"></label>
                    <input asp-for="Documentos.Otro" type="file" class="form-control" />
                    <span asp-validation-for="Documentos.Otro" class="text-danger"></span>
                </div>
                @if (TempData["Mensaje"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["Mensaje"]
                    </div>
                }
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}